@model WebApplication11.Models.Fine_generated

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fine_generated</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fine_Charged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fine_Charged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dateofissue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dateofissue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dateofreturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dateofreturn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Original_Dateofreturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Original_Dateofreturn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
