@model WebApplication11.Models.StudentLogin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RollNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
